/* MEDIA QUERY */

@media (min-width: 800px) {
  
    /* NAVBAR */
    .hamburger {
      display: none;
    }
    nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .nav-right {
      display: flex;
      align-items: center;
    }
    .nav-ul {
      position: static;
      flex-direction: row;
      background-color: transparent;
      height: 100%;
      justify-content: flex-end; 
    }
    .nav-li {
      font-size: 1.5rem;
      margin-left: 2em;
    }
    .nav-a {
      position: relative;
    }
    .nav-a::before {
      content:'';
      width: 0%;
      position: absolute;
      height: 3px;
      background-color: var(--accent-line);
      bottom: -2px;
      transition: 0.3s ease;
    }
    .nav-a:hover::before {
       width: 100%; 
    }
    .theme-toggle {
      position: static;
      transform: none;
      margin-left: 1.5em;
    }
      /* REUSEABLE */
 
  /* ABOUT ME */
.split {
    flex-direction: row;
}
.container-left {
    width: 40%;
}

/* CONTACT */
.contact-wrap {
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
}
.contact-form {
    flex: 1;
}
.contact-info-upper-container {
    flex: 1;
    flex-direction: column;
    align-items: flex-start;
}

}

@media (max-width: 799px) {
    .about-life {
      text-align: left;
    }
    .logo-wrap {
      padding-right: 5.5rem;
    }
    .logo {
      font-size: 1.7rem;
    }
    .port-content {
      grid-template-columns: repeat(2, 1fr);
    }
    .timeline {
      padding-left: 1.5rem;
    }
    .timeline-marker {
      left: -1.95rem;
    }
}

@media (max-width: 420px) {
    .btn-wrap {
      display: flex;
      flex-direction: column;
    }
    .btn {
      margin-bottom: 1em;
    }
    .port-content {
      grid-template-columns: repeat(1, 1fr);
    }
    .theme-toggle {
      right: 4em;
      width: 34px;
      height: 34px;
      font-size: 0.95rem;
    }
  }
